body
{
	margin: 0;
	padding: 0;
}

.conteudo,.header,.footer
{
	padding:0px;
	margin:0px;
	display:block;
}

.wrapper
{
	position:relative;
}

.headerlogo
{
	background-image:url("img/header.png");
	height:80px;
	background-size:100% 100%;
}

.bg {
	width:100%;
	display:block;
}

.personagens {
	min-width:37.4%;
	hheight:50.7%;
	max-height:77.4%;
	display:inline;
	margin-left:46%;
	position:absolute;
}

#logo-topo
{
	width:12%;
	margin-top:2.4%;
	margin-left: 25%;
}

.topo-text
{
	position:absolute;
	padding-left: 25%;
	padding-top: 6.5%;
	font-weight:bold;
	font-family: Arial;
}

#h2
{
	font-size: 140%;
	color: #FFFFFF;
}

#h3
{
	font-size: 80%;
	color: #FFBA00;
}

.conteudo .shadowup
{
	background-image:url("img/content_shadowup.jpg");
	background-repeat:no-repeat;
	height:18px;
	
	background-size:100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/content_shadowup.jpg',
		sizingMethod='scale');
}

.conteudo .content
{
	background-image:url("img/content_bg.jpg");
	background-repeat:repeat-y;
	width:100%;
	background-size:100% 100%;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/content_bg.jpg',
		sizingMethod='scale');	

}

.conteudo .content .center
{
	width:49%;
	margin-left: auto ;
	margin-right: auto ;
}

.conteudo .shadowdown
{
	background-image:url("img/content_shadowdown.jpg");
	background-repeat:no-repeat;
	height:18px;
	background-size:100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/content_shadowdown.jpg',
		sizingMethod='scale');	
}