body
{
	margin: 0;
	padding: 0;
}

.conteudo,.header,.footer
{
	padding:0px;
	margin:0px;
}

.headerlogo
{
	background-color:white;
	background-image:url("img/header.png");
	height:37px;
}

.headerimage  {
	padding:0px;
	margin:0px;
}

.headerimage img {
	width:100%;
	display:block;
}

.conteudo .shadowup
{
	background-image:url("img/content_shadowup.jpg");
	background-repeat:no-repeat;
	height:18px;
	
	background-size:100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/content_shadowup.jpg',
		sizingMethod='scale');
}

.conteudo .content
{
	background-image:url("img/content_bg.jpg");
	background-repeat:repeat-y;
	width:100%;
	background-size:100% 100%;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/content_bg.jpg',
		sizingMethod='scale');	

}

.conteudo .content .center
{
	
}


.conteudo .shadowdown
{
	background-image:url("img/content_shadowdown.jpg");
	background-repeat:no-repeat;
	height:18px;
	background-size:100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='img/content_shadowdown.jpg',
		sizingMethod='scale');	
}
